<div class="input" >
    <label class="input__container">
        <span class="input__label {{ color-theme }}">{{ label }}</span>

        <input
            class="input__element"
            name="{{ name }}"
            type="{{html-type}}"
            placeholder=""
        />
    </label>
</div>
