.input {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.input__container {
  width: 100%;
}

.input__label {
  font-size: 14px;
  padding-bottom: 6px;
  color: #ffffff;
}

.light-theme {
  color: #142D4C;
}

.input__element {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

