<div class="main_layout">
    <div class="error_wrapper">
        <h1 class="error__code">
            {{ error-code }}
        </h1>

        <div class="error__message">
            {{ error-message }}
        </div>
        <div class="error_btn_wrapper">
            {{> Button label="Вернуться к чатам" type="primary" page="nav" }}
        </div>
    </div>
</div>
