<ul>
    <li><a href="#" page="login">Login</a></li>
    <li><a href="#" page="sign-up">Sign up</a></li>
    <li><a href="#" page="account">Account</a></li>
    <li><a href="#" page="error404page">Error404</a></li>
    <li><a href="#" page="error500page">Error500</a></li>
</ul>
