<nav>
    <ul>
        <li><a href="#" page="login">Login</a></li>
        <li><a href="#" page="signUp">Sign up</a></li>
        <li><a href="#" page="account">Account</a></li>
        <li><a href="#" page="chats">Chats</a></li>
        <li><a href="#" page="error404">Error404</a></li>
        <li><a href="#" page="error500page">Error500</a></li>
    </ul>
</nav>
