.messages_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message_card {
    width: 380px;
    padding: 12px;
    border-radius: 4px;

    &__outgoing {
        align-self: flex-end;
        background-color: #E4EDFD;
    }

    &__incoming {
        align-self: flex-start;
        background-color: #F8F8F8;
    }

    &__message__text {
        font-size: 12px;
        font-weight: 400;
        color: #1E1E1E;
    }

    &__message__time {
        font-size: 10px;
        font-weight: 400;
        color: #999;
        text-align: right;
    }
}