.input {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.input__container {
    width: 100%;
}

.input__label {
    color: #fff;
    font-size: 14px;
    padding-bottom: 6px;
}

.light-theme {
    color: #142d4c;
}

.input__element {
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
}

.input__error {
    color: #dc3545;
}
