.action_menu__content {
    display: flex;
    flex-direction: column;
  }

  .action_menu__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    button {
      width: 100%;
      text-align: left;
      padding: 10px;
      transition: background-color 0.3s;
      border-radius: 8px;

      &:hover {
        background-color: #F5F5F5;
      }
    }
}
